<div id="divheight2"></div>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4"> Moviepedia
        </h1>
        <p class="lead"></p>
    </div>
</div>

<div id="divheight2"></div>

<div class="row">
    <div class="col-lg-4 col-sm-12 mx auto">
        <div class="card">
            <img class="card-img-top" src="/img/avengers.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Avengers End Game</h5>
                <p class="card-text">Things are not looking good for the Avengers. Thanos has the Infinity
                    Gauntlet, and most of their friends are dead. Can Iron Man and co reverse the snap heard
                    round the world?</p>
                <a href="#" class="btn btn-primary">More</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-12 mx auto">
        <div class="card">
            <img class="card-img-top" src="/img/dtpikachu.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Detective Pikachu</h5>
                <p class="card-text">21-year-old Pokémon trainer, Tim Goodman, teams up with a talking Pikachu
                    detective to track down his missing father.</p>
                <a href="#" class="btn btn-primary">More</a>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-12 mx auto">
        <div class="card">
            <img class="card-img-top" src="/img/john-wick-3.jpg" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">John Wick 3</h5>
                <p class="card-text">The grizzled hunter becomes the hunted in this threequel as a $14m bounty
                    is placed on his life: Halle Berry joins the cast as an assassin called Sofia.</p>
                <a href="#" class="btn btn-primary">More</a>
            </div>
        </div>
    </div>
</div>

<div id="divheight2"></div>

<div class="row">
    <div class="col-6 mx auto">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/azvR__GRQic"
                allowfullscreen></iframe>
        </div>
    </div>
    <div class="col-6 mx auto">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/7TavVZMewpY"
                allowfullscreen></iframe>
        </div>
    </div>
</div>

<div id="divheight2"></div>