<div class="row">
    <div id="height">
        <div class="col-12"></div>
    </div>
</div>

<div class="row">
    <!-- Search form -->
    <div class="col-4"></div>
    <div class="col-4">
        <input class="form-control" type="text" id="searchText" placeholder="Search" aria-label="Search">
    </div>
    <input type="submit" value="Submit" id="submitBtn" />
    <div class="col-4"></div>
</div>
<div class="divheight2"></div>

<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <div class="card mb-3">
            <img class="card-img-top" id="image" src="../public/img/movies.png" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title" id="results"></h5>
                <p class="card-text" id="plot"></p>
                <p id="rating"></p>
                <p class="card-text"><small class="text-muted"></small></p>
            </div>
        </div>
    </div>
    <div class="col-2"></div>
</div>